*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedorFormulario, #contenedorTabla{
    width: 70vw;

}

.miTabla{
    width: 70vw;
    text-align: center;
    border-collapse: collapse;
}

td, th{
    border: 1px solid;
}

td{
    height: 200px;
    width: 10%;
    /* max-width: 10px;
    min-width: 10px; */
}